<%= f.hidden_field :id %>
<%
  gaining_point_numbers = option_numbers digit: 3, end_number: 100, step: 5
  retry_numbers         = option_numbers digit: 1, end_number:   9
%>
<%###########################################################################%>
<%= label_tag "得点とリトライなど：" %>
<div style="margin-left: 10px;">
  <%= label_tag "#{@robot.name}：" %>
  <div style="margin-left: 10px;">
    完了課題：
    <div style="margin-left: 10px;">
      <%
        checked = f.object.my_challenges.presence || []
        GameDetail22nd.challenges.each do |key, value|
          concat f.check_box :my_challenges,
            { multiple: true, checked: checked.include?(value.to_s) }, value
          concat GameDetail22nd.challenges_i18n[key]
          concat "<br />".html_safe
        end
      %>
    </div>
    合計：<%= f.select :my_gaining_point, gaining_point_numbers %>点
    <br />
    リトライ：<%= f.select :my_retry, retry_numbers %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= label_tag "対戦相手：" %>
  <div style="margin-left: 10px;">
    完了課題：
    <div style="margin-left: 10px;">
      <%
        checked = f.object.my_challenges.presence || []
        GameDetail22nd.challenges.each do |key, value|
          concat f.check_box :opponent_challenges,
            { multiple: true, checked: checked.include?(value.to_s) }, value
          concat GameDetail22nd.challenges_i18n[key]
          concat "<br />".html_safe
        end
      %>
    </div>
    合計：<%= f.select :opponent_gaining_point, gaining_point_numbers %>点
    <br />
    リトライ：<%= f.select :opponent_retry, retry_numbers %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/form/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div style="margin-left: 10px;">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
