<%= f.hidden_field :id %>
<%
  ball_touch_numbers = option_numbers digit: 1, end_number: 9
  intercept_numbers  = option_numbers digit: 1, end_number: 3
  retry_numbers      = option_numbers digit: 1, end_number: 9
%>
<%###########################################################################%>
<%= label_tag "", "タイムとリトライなど：" %>
<div class="indent">
  <%= "#{@robot.name}：" %>
  <div class="indent">
    <%= f.label :my_play_first, "先攻：" %>
    <%= f.check_box :my_play_first,
      { :checked => f.object.my_play_first }, true, false %>
    <br />
    <%= label_tag "", "タッチダウン・タイム：" %>
    <%= f.select :my_time_minute, time_numbers %>分
    <%= f.select :my_time_second, time_numbers %>秒
    <br />
    <%= f.label :my_ball_touch, "ボールタッチ：" %>
    <%= f.select :my_ball_touch, ball_touch_numbers %>回
    <%#======================================================================%>
    <br />
    <%= f.label :my_intercept, "インターセプト：" %>
    <%= f.select :my_intercept, intercept_numbers %>回
    <br />
    <%= f.label :my_retry, "リトライ：" %>
    <%= f.select :my_retry, retry_numbers %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "対戦相手：" %>
  <div class="indent">
    <%= f.label :opponent_play_first, "先攻：" %>
    <%= f.check_box :opponent_play_first,
      { :checked => f.object.opponent_play_first }, true, false %>
    <br />
    <%= label_tag "", "タッチダウン・タイム：" %>
    <%= f.select :opponent_time_minute, time_numbers %>分
    <%= f.select :opponent_time_second, time_numbers %>秒
    <br />
    <%= f.label :opponent_ball_touch, "ボールタッチ：" %>
    <%= f.select :opponent_ball_touch, ball_touch_numbers %>回
    <%#======================================================================%>
    <br />
    <%= f.label :opponent_intercept, "インターセプト：" %>
    <%= f.select :opponent_intercept, intercept_numbers %>回
    <br />
    <%= f.label :opponent_retry, "リトライ：" %>
    <%= f.select :opponent_retry, retry_numbers %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/form/common_parts/jury_votes", f: f,
  juries_number: 3 %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
