<%= f.hidden_field :id %>
<%
  gaining_point_numbers = option_numbers end_number: 40
%>
<%###########################################################################%>
<%= label_tag "得点：" %>
<div style="margin-left: 10px;">
  <%= label_tag "#{@robot.name}：" %>
  <div style="margin-left: 10px;">
    <%= f.select :my_gaining_point, gaining_point_numbers %>点
  </div>
  <%#------------------------------------------------------------------------%>
  <%= label_tag "対戦相手：" %>
  <div style="margin-left: 10px;">
    <%= f.select :opponent_gaining_point, gaining_point_numbers %>点
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/form/common_parts/special_win", f: f,
  special_win_name: "Vホール" %>
<%#==========================================================================%>
<br />
<%= f.label :extra_time, "延長(30秒)：" %>
<%= f.check_box :extra_time, { checked: f.object.extra_time }, true, false %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div style="margin-left: 10px;">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
