<%= f.hidden_field :id %>
<%
  option_end_number ||= 16 # 16は第3回大会用
  gaining_point_numbers = option_numbers end_number: option_end_number
%>
<%###########################################################################%>
<%= label_tag "得点" %>
<div class="indent">
  <%= "#{@robot.name}：" %>
  <div class="indent">
    <%# 得点入力のUIは将来スライダーに変更する予定 %>
    <%= f.select :my_gaining_point, gaining_point_numbers %>点
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "対戦相手：" %>
  <div class="indent">
    <%# 得点入力のUIは将来スライダーに変更する予定 %>
    <%= f.select :opponent_gaining_point, gaining_point_numbers %>点
  </div>
</div>
<%###########################################################################%>
<br />
<%= f.label :extra_time, "延長(30秒)：" %>
<%= f.check_box :extra_time, { checked: f.object.extra_time }, true, false %>
<%#==========================================================================%>
<%
  case @game.contest_nth
  when 3, 4
    concat "<br />".html_safe
    concat f.label :judgement, "勝敗判定："
    klass = @gd_sym.to_s.singularize.classify.constantize # クラス化
    klass.criteria.each do |key, value| # GameDetail3rd/4thであると仮定
      chk = f.object.judgement.to_i == value ? true : false
      concat f.radio_button :judgement, klass.criteria[key], {checked: chk}
      concat "#{klass.criteria_i18n[key]}  "
    end
  else
  end
%>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
