<%= f.hidden_field :id %>
<%
  gaining_point_numbers = option_numbers end_number: 18
  art_point_numbers     = option_numbers end_number:  9
  total_point_numbers   = option_numbers end_number: 27
%>
<%###########################################################################%>
<%= label_tag "得点：" %>
<div class="indent">
  <%= "#{@robot.name}：" %>
  <div class="indent">
    <%= f.label :my_gaining_point, "得点：" %>
    <%= f.select :my_gaining_point, gaining_point_numbers %>点
    <br />
    <%= f.label :my_art_point, "芸術点：" %>
    <%= f.select :my_art_point, art_point_numbers %>点
    <br />
    <%= f.label :my_total_point, "合計：" %>
    <%= f.select :my_total_point, total_point_numbers %>点
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "対戦相手：" %>
  <div class="indent">
    <%= f.label :opponent_gaining_point, "得点：" %>
    <%= f.select :opponent_gaining_point, gaining_point_numbers %>点
    <br />
    <%= f.label :opponent_art_point, "芸術点：" %>
    <%= f.select :opponent_art_point, art_point_numbers %>点
    <br />
    <%= f.label :opponent_total_point, "合計：" %>
    <%= f.select :opponent_total_point, total_point_numbers %>点
  </div>
</div>
<%###########################################################################%>
<br />
<%= f.label :extra_time, "延長(60秒)：" %>
<%= f.check_box :extra_time, { checked: f.object.extra_time }, true, false %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
