<%= f.hidden_field :id %>
<%
  gaining_point_numbers   = option_numbers                   end_number: 3
  deducting_point_numbers = option_numbers                   end_number: 3
  total_point_numbers     = option_numbers begin_number: -3, end_number: 3
  retry_numbers           = option_numbers digit: 1,         end_number: 1
%>
<table>
  <tr>
    <td><%= label_tag "#{@robot.name}：" %></td>
  </tr>
  <tr>
    <td>
      <%= ("&nbsp;"*4).html_safe %>
      得点：<%= f.select :my_gaining_point, gaining_point_numbers %>点
      <%= ("&nbsp;"*2).html_safe %>
      減点：<%= f.select :my_deducting_point, deducting_point_numbers %>点
      <%= ("&nbsp;"*2).html_safe %>
      合計：<%= f.select :my_total_point, total_point_numbers%>点
    </td>
  </tr>
  <tr>
    <td>
      <%= ("&nbsp;"*4).html_safe %>
      リトライ：<%= f.select :my_retry, retry_numbers %>回
    </td>
  </tr>
  <%#########################################################################%>
  <tr>
    <td><%= label_tag "対戦相手：" %></td>
  </tr>
  <tr>
    <td>
      <%= ("&nbsp;"*4).html_safe %>
      得点：<%= f.select :opponent_gaining_point, gaining_point_numbers %>点
      <%= ("&nbsp;"*2).html_safe %>
      減点：<%= f.select :opponent_deducting_point, deducting_point_numbers %>点
      <%= ("&nbsp;"*2).html_safe %>
      合計：<%= f.select :opponent_total_point, total_point_numbers %>点
    </td>
  </tr>
  <tr>
    <td>
      <%= ("&nbsp;"*4).html_safe %>
      リトライ：<%= f.select :opponent_retry, retry_numbers %>回
    </td>
  </tr>
</table>
<%= f.label :hight, "同点で高さで決着：" %>
<%= f.check_box :hight, { checked: f.object.hight }, true, false %>
<br />
<%= f.label :extra_time, "延長(60秒)：" %>
<%= f.check_box :extra_time, { checked: f.object.extra_time }, true, false %>
<br />
<%= render "game_details/form/common_parts/special_win", f: f,
  special_win_name: "トルネード" %>
<%= render "game_details/form/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<br />
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
