<%= f.hidden_field :id %>
<%###########################################################################%>
<%= label_tag "", "タイム：" %>
<div class="indent">
  <%= label_tag "", "#{@robot.name}：", class: 'robot_name' %>
  <div class="indent">
    <%# 対応するラベルを一つに纏められない %>
    <%= f.select :my_time_minute, time_numbers %>分
    <%= f.select :my_time_second, time_numbers %>秒
  </div>
  <%#------------------------------------------------------------------------%>
  <%= label_tag "", "対戦相手：", class: 'robot_name' %>
  <div class="indent">
    <%# 対応するラベルを一つに纏められない %>
    <%= f.select :opponent_time_minute, time_numbers %>分
    <%= f.select :opponent_time_second, time_numbers %>秒
  </div>
</div>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
