<%= f.hidden_field :id %>
<%
  gaining_point_numbers = option_numbers           end_number: 29
  double_pole_numbers   = option_numbers digit: 1, end_number:  9
  triple_pole_numbers   = option_numbers digit: 1, end_number:  9
  loading_numbers       = option_numbers digit: 1, end_number:  9
  retry_numbers         = option_numbers digit: 1, end_number:  9
  foul_numbers          = option_numbers digit: 1, end_number:  9
%>
<%###########################################################################%>
<%= label_tag "得点とリトライなど：" %>
<div class="indent">
  <%= "#{@robot.name}：" %>
  <div class="indent">
    得点：<%= f.select :my_gaining_point, gaining_point_numbers %>点
    <br />
    Vゴール：<%= f.check_box :my_special_win,
      {:checked => f.object.my_special_win}, true, false %>
    <% if f.object.my_special_win.to_bool %>
      <div class=\
        "my_special_win___nested_field_for_replace_with_index__">
    <% else %>
      <div class=\
        "my_special_win___nested_field_for_replace_with_index__ hidden">
    <% end %>
        <div class="indent">
          タイム：
          <%= f.select :my_time_minute, time_numbers %>分
          <%= f.select :my_time_second, time_numbers %>秒
        </div>
      </div>
    <br />
    ダブル・ポール：<%= f.select :my_double_pole, double_pole_numbers %>本
    <br />
    トリプル・ポール：<%= f.select :my_triple_pole, triple_pole_numbers %>本
    <br />
    装填：<%= f.select :my_loading, loading_numbers %>回
    <br />
    リペア：<%= f.select :my_retry, retry_numbers %>回
    <br />
    反則：<%= f.select :my_foul, foul_numbers %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "対戦相手：" %>
  <div class="indent">
    得点：<%= f.select :opponent_gaining_point, gaining_point_numbers %>点
    <br />
    Vゴール：<%= f.check_box :opponent_special_win,
      {:checked => f.object.opponent_special_win}, true, false %>
    <% if f.object.opponent_special_win.to_bool %>
      <div class=\
        "opponent_special_win___nested_field_for_replace_with_index__">
    <% else %>
      <div class=\
        "opponent_special_win___nested_field_for_replace_with_index__ hidden">
    <% end %>
        <div class="indent">
          タイム：
          <%= f.select :opponent_time_minute, time_numbers %>分
          <%= f.select :opponent_time_second, time_numbers %>秒
        </div>
      </div>
    <br />
    ダブル・ポール：<%= f.select :opponent_double_pole, double_pole_numbers %>本
    <br />
    トリプル・ポール：<%= f.select :opponent_triple_pole, triple_pole_numbers %>本
    <br />
    装填：<%= f.select :opponent_loading, loading_numbers %>回
    <br />
    リペア：<%= f.select :opponent_retry, retry_numbers %>回
    <br />
    反則：<%= f.select :opponent_foul, foul_numbers %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/form/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
