<%= f.hidden_field :id %>
<%
  gaining_point_numbers = option_numbers           end_number: 79
  retry_numbers         = option_numbers digit: 1, end_number:  1
%>
<%###########################################################################%>
<%= label_tag "得点とリトライ：" %>
<div class="indent">
  <%= "#{@robot.name}：" %>
  <div class="indent">
    <%= f.label :my_gaining_point, "得点：" %>
    <%= f.select :my_gaining_point, gaining_point_numbers %>点
    <br />
    <%#======================================================================%>
    <%= f.label :my_retry, "リトライ：" %>
    <%= f.select :my_retry, retry_numbers %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "対戦相手：" %>
  <div class="indent">
    <%= f.label :opponent_gaining_point, "得点：" %>
    <%= f.select :opponent_gaining_point, gaining_point_numbers %>点
    <%#======================================================================%>
    <br />
    <%= f.label :opponent_retry, "リトライ：" %>
    <%= f.select :opponent_retry, retry_numbers %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= f.label :extra_time, "延長(60秒)：" %>
<%= f.check_box :extra_time, { checked: f.object.extra_time }, true, false %>
<%#==========================================================================%>
<br />
<%= render "game_details/form/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
