<%= f.hidden_field :id %>
<%
  retry_numbers = option_numbers digit: 1, end_number: 9
  foul_numbers  = option_numbers digit: 1, end_number: 9
%>
<%###########################################################################%>
<%= label_tag "", "得点とリトライなど：" %>
<div class="indent">
  <%= label_tag "", "#{@robot.name}：", class: 'robot_name' %>
  <div class="indent">
    <%= f.label :my_gaining_point, "積み上げた高さ：" %>
    <%= f.text_field :my_gaining_point,
      { size: 3, maxlength: 3 } %>cm
    <%#======================================================================%>
    <br />
    <%= f.label :my_challenge, "完了課題：" %>
    <div class="indent">
      <%
        checked = f.object.my_challenge.presence || []
        GameDetail29th.challenges.each do |key, value|
          concat f.check_box :my_challenge,
            { multiple: true, checked: checked.include?(value.to_s) }, value
          concat GameDetail29th.challenges_i18n[key]
          concat "<br />".html_safe
        end
      %>
    </div>
    <br />
    <%= f.label :my_retry, "リトライ：" %>
    <%= f.select :my_retry, retry_numbers %>回
    <br />
    <%= f.label :my_foul, "反則：" %>
    <%= f.select :my_foul, foul_numbers %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= label_tag "", "対戦相手：", class: 'robot_name' %>
  <div class="indent">
    <%= f.label :opponent_gaining_point, "積み上げた高さ：" %>
    <%= f.text_field :opponent_gaining_point,
      { size: 3, maxlength: 3 } %>cm
    <%#======================================================================%>
    <br />
    <%= f.label :opponent_challenge, "完了課題：" %>
    <div class="indent">
      <%
        checked = f.object.opponent_challenge.presence || []
        GameDetail29th.challenges.each do |key, value|
          concat f.check_box :opponent_challenge,
            { multiple: true, checked: checked.include?(value.to_s) }, value
          concat GameDetail29th.challenges_i18n[key]
          concat "<br />".html_safe
        end
      %>
    </div>
    <br />
    <%= f.label :opponent_retry, "リトライ：" %>
    <%= f.select :opponent_retry, retry_numbers %>回
    <br />
    <%= f.label :opponent_foul, "反則：" %>
    <%= f.select :opponent_foul, foul_numbers %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/form/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
