<%= f.hidden_field :id %>
<%
  gaining_point_numbers   = option_numbers                   end_number: 45
  deducting_point_numbers = option_numbers                   end_number:  5
  total_point_numbers     = option_numbers begin_number: -5, end_number: 45
%>
<%###########################################################################%>
<%= label_tag "得点：" %>
<div class="indent">
  <%= "#{@robot.name}：" %>
  <div class="indent">
    得点：<%= f.select :my_gaining_point, gaining_point_numbers %>点
    <br />
    減点：<%= f.select :my_deducting_point, deducting_point_numbers %>点
    <br />
    合計：<%= f.select :my_total_point, total_point_numbers %>点
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "対戦相手：" %>
  <div class="indent">
    得点：<%= f.select :opponent_gaining_point, gaining_point_numbers %>点
    <br />
    減点：<%= f.select :opponent_deducting_point, deducting_point_numbers %>点
    <br />
    合計：<%= f.select :opponent_total_point, total_point_numbers %>点
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/form/common_parts/special_win", f: f,
  special_win_name: "Vスポット" %>
<%#==========================================================================%>
<br />
<%= f.label :lower_power_quantity, "審査員判定（省電力比較）：" %>
<%= f.check_box :lower_power_quantity,
  { checked: f.object.lower_power_quantity }, true, false %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
