<%= f.hidden_field :id %>
<%
  gaining_point_numbers = option_numbers end_number: 10
%>
<%###########################################################################%>
<%= label_tag "得点：" %>
<div class="indent">
  <%= "#{@robot.name}：" %>
  <div class="indent">
    <%= f.select :my_gaining_point, gaining_point_numbers %>点
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "対戦相手：" %>
  <div class="indent">
    <%= f.select :opponent_gaining_point, gaining_point_numbers %>点
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/form/common_parts/special_win", f: f,
  special_win_name: "パーフェクト・パフォーマンス" %>
<%#==========================================================================%>
<br />
<%= render "game_details/form/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
