<%= f.hidden_field :id %>
<%
  deducting_point_numbers = option_numbers           end_number: 9
  retry_numbers           = option_numbers digit: 1, end_number: 1
%>
<%###########################################################################%>
<%= label_tag "", "距離とリトライ：" %>
<div class="indent">
  <%= label_tag "", "#{@robot.name}：", class: 'robot_name' %>
  <div class="indent">
    <%= f.label :my_gaining_point, "距離：" %>
    <%= f.text_field :my_gaining_point, { size: 5, maxlength: 5 } %>cm
    <br />
    <%= f.label :my_deducting_point, "反則：" %>
    <%= f.select :my_deducting_point,
      deducting_point_numbers %>回 x 50cm
    <br />
    <%= f.label :my_total_point, "合計：" %>
    <%= f.text_field :my_total_point, { size: 5, maxlength: 5 } %>cm
    <%#======================================================================%>
    <br />
    <%= f.label :my_retry, "リトライ：" %>
    <%= f.select :my_retry, retry_numbers %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= label_tag "", "対戦相手：", class: 'robot_name' %>
  <div class="indent">
    <%= f.label :opponent_gaining_point, "距離：" %>
    <%= f.text_field :opponent_gaining_point, { size: 5, maxlength: 5 } %>cm
    <br />
    <%= f.label :opponent_deducting_point, "反則：" %>
    <%= f.select :opponent_deducting_point,
      deducting_point_numbers %>回 x 50cm
    <br />
    <%= f.label :opponent_total_point, "合計：" %>
    <%= f.text_field :opponent_total_point, { size: 5, maxlength: 5 } %>cm
    <%#======================================================================%>
    <br />
    <%= f.label :opponent_retry, "リトライ：" %>
    <%= f.select :opponent_retry, retry_numbers %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/form/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
