<%= f.hidden_field :id %>
<%
  baloon_numbers  = option_numbers           end_number: 10
  retry_numbers   = option_numbers digit: 1, end_number:  9
  foul_numbers    = option_numbers digit: 1, end_number:  9
%>
<%###########################################################################%>
<%= label_tag "", "得点とリトライなど：" %>
<div class="indent">
  <%= label_tag "", "#{@robot.name}：", class: 'robot_name' %>
  <div class="indent">
    <%= f.label :my_base_baloon, "本陣の風船：" %>
    <%= f.select :my_base_baloon, baloon_numbers %>個
    <br />
    <%= f.label :my_robot_baloon, "ロボットの風船：" %>
    <%= f.select :my_robot_baloon, baloon_numbers %>個
    <%#======================================================================%>
    <br />
    <%# リペアはリトライを流用する %>
    <%= f.label :my_retry, "リペア：" %>
    <%= f.select :my_retry, retry_numbers %>回
    <br />
    <%= f.label :my_foul, "反則：" %>
    <%= f.select :my_foul, foul_numbers %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= label_tag "", "対戦相手：", class: 'robot_name' %>
  <div class="indent">
    <%= f.label :opponent_base_baloon, "本陣の風船：" %>
    <%= f.select :opponent_base_baloon, baloon_numbers %>個
    <br />
    <%= f.label :opponent_robot_baloon, "ロボットの風船：" %>
    <%= f.select :opponent_robot_baloon, baloon_numbers %>個
    <%#======================================================================%>
    <br />
    <%# リペアはリトライを流用する %>
    <%= f.label :opponent_retry, "リペア：" %>
    <%= f.select :opponent_retry, retry_numbers %>回
    <br />
    <%= f.label :opponent_foul, "反則：" %>
    <%= f.select :opponent_foul, foul_numbers %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= f.label :time_minute, "試合時間：" %>
<%= f.select :time_minute, time_numbers %>分
<%= f.select :time_second, time_numbers %>秒
<%#==========================================================================%>
<br />
<%= render "game_details/form/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
