<%= f.hidden_field :id %>
<%
  progress_options = Array.new([["--", GameDetail::UNKNOWN]])
  GameDetail26th.progresses.each do |key, value|
    progress_options.concat(Array.new([[
        GameDetail26th.progresses_i18n[key], value
    ]]))
  end
  foul_numbers  = option_numbers digit: 1, end_number: 9
  retry_numbers = option_numbers digit: 1, end_number: 9
%>
<%###########################################################################%>
<%= label_tag "タイムとリトライなど：" %>
<div class="indent">
  <%= "#{@robot.name}：" %>
  <div class="indent">
    完了課題：<%= f.select :my_progress, progress_options %>
    <br />
    タイム：
    <%= f.select :my_time_minute, time_numbers %>分
    <%= f.select :my_time_second, time_numbers %>秒
    <br />
    連続縄跳び（準決勝以降）：
    <%= f.text_field :my_gaining_point, { size: 3, maxlength: 3 }%>回
    <br />
    リトライ：<%= f.select :my_retry, retry_numbers %>回
    <br />
    反則：<%= f.select :my_foul, foul_numbers %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "対戦相手：" %>
  <div class="indent">
    完了課題：<%= f.select :opponent_progress, progress_options %>
    <br />
    タイム：
    <%= f.select :opponent_time_minute, time_numbers %>分
    <%= f.select :opponent_time_second, time_numbers %>秒
    <br />
    連続縄跳び（準決勝以降）：
    <%= f.text_field :opponent_gaining_point, { size: 3, maxlength: 3 }%>回
    <br />
    リトライ：<%= f.select :opponent_retry, retry_numbers %>回
    <br />
    反則：<%= f.select :opponent_foul, foul_numbers %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/form/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= f.label :memo, "メモ：" %>
<div class="indent">
  <%= f.text_field :memo %>
</div>
<%#==========================================================================%>
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
