<%= label_tag "審査員判定：" %>
<% concat d.jury_votes.to_bool ? "有り" : "無し" %>
<% if d.jury_votes.to_bool %>
  <div class="indent">
    <%= "#{@game.left_robot.name}：" %>
    <div class="indent">
      <%= "#{d.my_jury_votes}票".gsub(/_/, '-') %>
    </div>
    <%#----------------------------------------------------------------------%>
    <%= "#{@game.right_robot.name}：" %>
    <div class="indent">
      <%= "#{d.opponent_jury_votes}票".gsub(/_/, '-') %>
    </div>
  </div>
<% end %>
