<%= f.hidden_field :id %>
<%
  foul_numbers  = option_numbers           end_number: 5
  retry_numbers = option_numbers digit: 1, end_number: 9
  progress_options = Array.new([["--", GameDetail::UNKNOWN]])
  GameDetail21st.progresses.each do |key, value|
    progress_options.concat(Array.new([[
      GameDetail21st.progresses_i18n[key], value
    ]]))
  end
%>
<table>
  <tr><td><%= label_tag "#{@robot.name}：" %></td></tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %>タイム：</td>
    <td>
      <%= f.select :my_time_minute, time_numbers %>分
      <%= f.select :my_time_second, time_numbers %>秒
    </td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %>反則：</td>
    <td><%= f.select :my_foul, foul_numbers %>回</td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %>リトライ：</td>
    <td><%= f.select :my_retry, retry_numbers %>回</td>
  </tr>
  <%#########################################################################%>
  <tr><td><%= label_tag "対戦相手：" %></td></tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %>タイム：</td>
    <td>
      <%= f.select :opponent_time_minute, time_numbers %>分
      <%= f.select :opponent_time_second, time_numbers %>秒
    </td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %>反則：</td>
    <td><%= f.select :opponent_foul, foul_numbers %>回</td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %>リトライ：</td>
    <td><%= f.select :opponent_retry, retry_numbers %>回</td>
  </tr>
</table>
<%= render "games/game_details/common_parts/progress", f: f,
  klass: GameDetail21st %>
<%= render "games/game_details/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<br />
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
