<%= f.hidden_field :id %>
<%
  gaining_point_numbers = option_numbers end_number: 40
%>
<table>
  <tr>
    <td><%= f.label :my_gaining_point, "#{@robot.name}の点数：" %></td>
    <td>得点<%= f.select :my_gaining_point, gaining_point_numbers %>点</td>
  </tr>
  <tr>
    <td><%= f.label :opponent_gaining_point, "対戦相手の点数：" %></td>
    <td>得点<%= f.select :opponent_gaining_point,
      gaining_point_numbers %>点</td>
  </tr>
</table>
<%= f.label :special_win, "Vホール：" %>
<%= f.check_box :special_win, { checked: f.object.special_winv_hole },
  true, false %>
<br />
<% if f.object.special_win %>
<div class="special_win___nested_field_for_replace_with_index__">
<% else %>
<div class="special_win___nested_field_for_replace_with_index__ hidden">
<% end %>
  <table>
    <tr>
      <td><%= ("&nbsp;"*4).html_safe %></td>
      <td><%= f.label :special_win_time_minute, "タイム：" %></td>
      <td>
        <%= f.select :special_win_time_minute, time_numbers %>分
        <%= f.select :special_win_time_second, time_numbers %>秒
      </td>
    </tr>
  </table>
</div>
<%= f.label :extra_time, "延長(30秒)：" %>
<%= f.check_box :extra_time, { checked: f.object.extra_time }, true, false %>
<br />
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
