<%= f.hidden_field :id %>
<%
  gaining_point_numbers = option_numbers end_number: 40
%>
<table>
  <tr>
    <td><%= f.label :my_gaining_point, "#{@robot.name}の点数：" %></td>
    <td><%= f.select :my_gaining_point, gaining_point_numbers %></td>
  </tr>
  <tr>
    <td><%= f.label :opponent_gaining_point, "対戦相手の点数：" %></td>
    <td><%= f.select :opponent_gaining_point, gaining_point_numbers %></td>
  </tr>
</table>
<%= f.label :extra_time, "延長(30秒)：" %>
<%= f.check_box :extra_time, { checked: f.object.extra_time }, true, false %>
<br />
<%= f.label :judgement, "勝敗判定：" %>
<% GameDetail4th.criteria.each do |key, value| %>
  <% chk = f.object.judgement.to_i == value ? true : false %>
  <%= f.radio_button :judgement, GameDetail4th.criteria[key], {checked: chk} %>
  <%= GameDetail4th.criteria_i18n[key] %>
  <%= ("&nbsp;"*2).html_safe %>
<% end %>
<br />
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
