<%= f.hidden_field :id %>
<%
  progress_options = Array.new([["--", GameDetail::Constant::UNKNOWN_VALUE]])
  GameDetail26th.progresses.each do |key, value|
    progress_options.concat(Array.new([[
        GameDetail26th.progresses_i18n[key], value
    ]]))
  end
  penalty_numbers       = option_numbers digit: 1, end_number:  9
  retry_numbers         = option_numbers digit: 1, end_number:  9
  vote_numbers          = option_numbers digit: 1, end_number:  5
%>
<table>
  <tr>
    <td colspan="4"><%= f.label :my_progress, "#{@robot.name}：" %></td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %></td>
    <td>完了課題：<%= f.select :my_progress, progress_options %></td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %></td>
    <td>タイム：
      <%= f.select :my_time_minute, time_numbers %>分
      <%= f.select :my_time_second, time_numbers %>秒
    </td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %></td>
    <td>縄跳び回数（準決勝以降）：<%= f.text_field :my_gaining_point,
      { size: 3, maxlength: 3 }%></td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %></td>
    <td>反則回数：<%= f.select :my_penalty, penalty_numbers %></td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %></td>
    <td>リトライ回数：<%= f.select :my_retry, retry_numbers %></td>
  </tr>
  <%##########################################################################%>
  <tr>
    <td colspan="4"><%= f.label :opponent_progress, "対戦相手：" %></td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %></td>
    <td>完了課題：<%= f.select :opponent_progress, progress_options %></td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %></td>
    <td>タイム：
      <%= f.select :opponent_time_minute, time_numbers %>分
      <%= f.select :opponent_time_second, time_numbers %>秒
    </td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %></td>
    <td>縄跳び回数（準決勝以降）：<%= f.text_field :opponent_gaining_point,
      { size: 3, maxlength: 3 }%></td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %></td>
    <td>反則回数：<%= f.select :opponent_penalty, penalty_numbers %></td>
  </tr>
  <tr>
    <td><%= ("&nbsp;"*4).html_safe %></td>
    <td>リトライ回数：<%= f.select :opponent_retry, retry_numbers %></td>
  </tr>
</table>
<%= f.label :jury_votes, "審査員判定：" %>
<%= f.check_box :jury_votes, {:checked => f.object.jury_votes}, true, false %>
<br />
<% if f.object.jury_votes %>
<div class="jury_votes___nested_field_for_replace_with_index__">
<% else %>
<div class="jury_votes___nested_field_for_replace_with_index__ hidden">
<% end %>
  <table>
    <tr>
      <td><%= ("&nbsp;"*4).html_safe %></td>
      <td><%= f.label :my_jury_votes, "#{@robot.name}への票数：" %></td>
      <td><%= f.select :my_jury_votes, vote_numbers %></td>
    </tr>
    <tr>
      <td><%= ("&nbsp;"*4).html_safe %></td>
      <td><%= f.label :opponent_jury_votes, "対戦相手への票数：" %></td>
      <td><%= f.select :opponent_jury_votes, vote_numbers %></td>
    </tr>
  </table>
</div>
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
