<%= f.hidden_field :id %>

<%= f.label :my_robot_baloon, "#{@robot.name}のロボットに残った風船の数：" %>
<%= f.text_field :my_robot_baloon %>個<br />
<%= f.label :opponent_robot_baloon, "対戦相手のロボットに残った風船の数：" %>
<%= f.text_field :opponent_robot_baloon %>個<br />
<%= f.label :my_base_baloon, "#{@robot.name}の砦に残った風船の数：" %>
<%= f.text_field :my_base_baloon %>個<br />
<%= f.label :opponent_base_baloon, "対戦相手の砦に残った風船の数：" %>
<%= f.text_field :opponent_base_baloon %>個<br />

<%= f.label :jury, "審査員判定：" %>
<% if f.object.jury %>
  <%= f.check_box :jury, {:checked => true}, true, false %><br />
  <div class="jury_score___nested_field_for_replace_with_index__">
<% else %>
  <%= f.check_box :jury, {:checked => false}, true, false %><br />
  <div class="jury_score___nested_field_for_replace_with_index__ hidden">
<% end %>
    <%= f.label :jury_to_me, "#{@robot.name}への票数" %>
    <%= f.text_field :jury_to_me %><br />
    <%= f.label :jury_to_opponent, "対戦相手への票数" %>
    <%= f.text_field :jury_to_opponent %><br />
  </div>

<%= f.label :time, "試合時間：" %>
<%= f.text_field :time %>(分：秒)<br />

<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
