<%= f.hidden_field :id %>
<%
  gaining_point_numbers   = option_numbers                   end_number: 40
  deducting_point_numbers = option_numbers                   end_number:  5
  total_point_numbers     = option_numbers begin_number: -5, end_number: 40
%>
<table>
  <tr>
    <td><%= f.label :my_gaining_point, "#{@robot.name}の点数：" %></td>
    <td>得点<%= f.select :my_gaining_point, gaining_point_numbers %>点</td>
    <td>&nbsp;</td>
    <td>減点<%= f.select :my_deducting_point, deducting_point_numbers %>点</td>
    <td>&nbsp;</td>
    <td>合計<%= f.select :my_total_point, total_point_numbers %>点</td>
  </tr>
  <tr>
    <td><%= f.label :opponent_gaining_point, "対戦相手の点数：" %></td>
    <td>得点<%= f.select :opponent_gaining_point,
      gaining_point_numbers %>点</td>
    <td>&nbsp;</td>
    <td>減点<%= f.select :opponent_deducting_point,
      deducting_point_numbers %>点</td>
    <td>&nbsp;</td>
    <td>合計<%= f.select :opponent_total_point, total_point_numbers %>点</td>
  </tr>
</table>
<br />
<%= f.label :recommended, "審査員判定（芸術点）：" %>
<%= f.check_box :recommended, { checked: f.object.recommended }, true, false %>
<br />
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
