<%= f.hidden_field :id %>
<%
  progress_options = Array.new([["--", GameDetail::Constant::UNKNOWN_VALUE]])
  GameDetail19th.progresses.each do |key, value|
    progress_options.concat(Array.new([[
        GameDetail19th.progresses_i18n[key], value
    ]]))
  end
  retry_numbers = option_numbers digit: 1, end_number: 1
  vote_numbers  = option_numbers digit: 1, end_number: 5
%>
<%= f.label :progress, "課題進捗度：" %>
<%= f.check_box :progress, {:checked => f.object.progress}, true, false %>
<br />
<% if f.object.progress %>
<div class="progress___nested_field_for_replace_with_index__">
<% else %>
<div class="progress___nested_field_for_replace_with_index__ hidden">
<% end %>
  <table>
    <tr>
      <td><%= ("&nbsp;"*4).html_safe %></td>
      <td><%= f.label :my_progress, "#{@robot.name}の課題達成度：" %></td>
      <td><%= f.select :my_progress, progress_options %></td>
    </tr>
    <tr>
      <td><%= ("&nbsp;"*4).html_safe %></td>
      <td><%= f.label :opponent_progress, "対戦相手の課題達成度：" %></td>
      <td><%= f.select :opponent_progress, progress_options %></td>
    </tr>
  </table>
</div>
<table>
  <tr>
    <td><%= f.label :my_retry, "#{@robot.name}のリトライ：" %></td>
    <td><%= f.select :my_retry, retry_numbers %>回</td>
    </td>
  </tr>
  <tr>
    <td><%= f.label :opponent_retry, "対戦相手のリトライ：" %></td>
    <td><%= f.select :opponent_retry, retry_numbers %>回</td>
    </td>
  </tr>
</table>
<%= f.label :special_win, "ふるさとゴール：" %>
<%= f.check_box :special_win, { checked: f.object.special_win }, true, false %>
<br />
<% if f.object.special_win %>
<div class="special_win___nested_field_for_replace_with_index__">
<% else %>
<div class="special_win___nested_field_for_replace_with_index__ hidden">
<% end %>
  <table>
    <tr>
      <td><%= ("&nbsp;"*4).html_safe %></td>
      <td><%= f.label :time_minute, "タイム：" %></td>
      <td>
        <%= f.select :time_minute, time_numbers %>分
        <%= f.select :time_second, time_numbers %>秒
      </td>
    </tr>
  </table>
</div>
<%= f.label :jury_votes, "審査員判定：" %>
<%= f.check_box :jury_votes, {:checked => f.object.jury_votes}, true, false %>
<br />
<% if f.object.jury_votes %>
<div class="jury_votes___nested_field_for_replace_with_index__">
<% else %>
<div class="jury_votes___nested_field_for_replace_with_index__ hidden">
<% end %>
  <table>
    <tr>
      <td><%= ("&nbsp;"*4).html_safe %></td>
      <td><%= f.label :my_jury_votes, "#{@robot.name}への票数：" %></td>
      <td><%= f.select :my_jury_votes, vote_numbers %></td>
    </tr>
    <tr>
      <td><%= ("&nbsp;"*4).html_safe %></td>
      <td><%= f.label :opponent_jury_votes, "対戦相手への票数：" %></td>
      <td><%= f.select :opponent_jury_votes, vote_numbers %></td>
    </tr>
  </table>
</div>
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
