<%= f.hidden_field :id %>
<%= f.hidden_field :number %>
<%
  vote_numbers = Array([["--","#{GameDetail::Constant::UNKNOWN_VALUE}"]])
  vote_numbers.concat( Array.new(5) { |i| [ i.to_s, i.to_s ] } )
%>
<table>
  <tr>
    <td><%= f.label :my_height, "#{@robot.name}が積み上げた高さ：" %></td>
    <td><%= f.text_field :my_height %>cm</td>
  </tr>
  <tr>
    <td><%= f.label :opponent_height, "対戦相手が積み上げた高さ：" %></td>
    <td><%= f.text_field :opponent_height %>cm</td>
  </tr>
</table>
<%= f.label :jury_votes, "審査員判定：" %>
<% if f.object.jury_votes %>
  <%= f.check_box :jury_votes, {:checked => true}, true, false %><br />
  <div class="jury_votes___nested_field_for_replace_with_index__">
<% else %>
  <%= f.check_box :jury_votes, {:checked => false}, true, false %><br />
  <div class="jury_votes___nested_field_for_replace_with_index__ hidden">
<% end %>
    <table>
      <tr>
        <td><%= ("&nbsp;"*4).html_safe %></td>
        <td><%= f.label :my_jury_votes, "#{@robot.name}への票数：" %></td>
        <td><%= f.select :my_jury_votes, vote_numbers %></td>
      </tr>
      <tr>
        <td><%= ("&nbsp;"*4).html_safe %></td>
        <td><%= f.label :opponent_jury_votes, "対戦相手への票数：" %></td>
        <td><%= f.select :opponent_jury_votes, vote_numbers %></td>
      </tr>
    </table>
  </div>
<%= f.label :progress, "課題進捗度：" %>
<% if f.object.progress %>
  <%= f.check_box :progress, {:checked => true}, true, false %><br />
  <div class="progress___nested_field_for_replace_with_index__">
<% else %>
  <%= f.check_box :progress, {:checked => false}, true, false %><br />
  <div class="progress___nested_field_for_replace_with_index__ hidden">
<% end %>
    <table>
      <tr>
        <td><%= ("&nbsp;"*4).html_safe %></td>
        <td><%= f.label :my_progress, "#{@robot.name}の課題達成度：" %></td>
        <td><%= f.text_field :my_progress %></td>
      </tr>
      <tr>
        <td><%= ("&nbsp;"*4).html_safe %></td>
        <td><%= f.label :opponent_progress, "対戦相手の課題達成度：" %></td>
        <td><%= f.text_field :opponent_progress %></td>
      </tr>
    </table>
  </div>
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
