<%= f.hidden_field :id %>
<%
  deducting_point_numbers = option_numbers           end_number: 9
  retry_numbers           = option_numbers digit: 1, end_number: 1
%>
<table>
  <tr>
    <td><%= label_tag "#{@robot.name}：" %></td>
  </tr>
  <tr>
    <td>
      <%= ("&nbsp;"*4).html_safe %>
      距離：<%= f.text_field :my_gaining_point, { maxlength: 5 } %>cm
      <%= ("&nbsp;"*2).html_safe %>
      反則：<%= f.select :my_deducting_point,
        deducting_point_numbers %>回 x 50cm
      <%= ("&nbsp;"*2).html_safe %>
      合計：<%= f.text_field :my_total_point, { maxlength: 5 } %>cm
    </td>
  </tr>
  <tr>
    <td>
      <%= ("&nbsp;"*4).html_safe %>
      リトライ：<%= f.select :my_retry, retry_numbers %>回
    </td>
  </tr>
  <%#########################################################################%>
  <tr>
    <td><%= label_tag "対戦相手：" %></td>
  </tr>
  <tr>
    <td>
      <%= ("&nbsp;"*4).html_safe %>
      距離：<%= f.text_field :opponent_gaining_point, { maxlength: 5 } %>cm
      <%= ("&nbsp;"*2).html_safe %>
      反則：<%= f.select :opponent_deducting_point,
        deducting_point_numbers %>回 x 50cm
      <%= ("&nbsp;"*2).html_safe %>
      合計：<%= f.text_field :opponent_total_point, { maxlength: 5 } %>cm
    </td>
  </tr>
  <tr>
    <td>
      <%= ("&nbsp;"*4).html_safe %>
      リトライ：<%= f.select :opponent_retry, retry_numbers %>回
    </td>
  </tr>
</table>
<%= render "games/game_details/common_parts/jury_votes", f: f,
  juries_number: 5 %><%# 審査員判定 %>
<br />
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
