<%= f.hidden_field :id %>
<%
  ball_touch_numbers = option_numbers digit: 1, end_number: 9
  intercept_numbers  = option_numbers digit: 1, end_number: 3
  retry_numbers      = option_numbers digit: 1, end_number: 9
%>
<%= label_tag "#{@robot.name}：" %>
<table style="margin-left: 10px;">
  <!--
  <tr>
    <td>先攻：</td>
    <td>
      <%#= f.radio_button :play_first, GameDetail24th::play_orders[:my] %>
    </td>
  </tr>
  -->
  <tr>
    <td>タッチダウン・タイム：</td>
    <td>
      <%= f.select :my_time_minute, time_numbers %>分
      <%= f.select :my_time_second, time_numbers %>秒
    </td>
  </tr>
  <tr>
    <td>ボールタッチ：</td>
    <td><%= f.select :my_ball_touch, ball_touch_numbers %>回</td>
  </tr>
  <tr>
    <td>インターセプト：</td>
    <td><%= f.select :my_intercept, intercept_numbers %>回</td>
  </tr>
  <tr>
    <td>リトライ：</td>
    <td><%= f.select :my_retry, retry_numbers %>回</td>
  </tr>
</table>
<%###########################################################################%>
<%= label_tag "対戦相手：" %>
<table style="margin-left: 10px;">
  <!--
  <tr>
    <td>先攻：</td>
    <td>
      <%#= f.radio_button :play_first, GameDetail24th::play_orders[:opponennt] %>
    </td>
  </tr>
  -->
  <tr>
    <td>タッチダウン・タイム：</td>
    <td>
      <%= f.select :opponent_time_minute, time_numbers %>分
      <%= f.select :opponent_time_second, time_numbers %>秒
    </td>
  </tr>
  <tr>
    <td>ボールタッチ：</td>
    <td><%= f.select :opponent_ball_touch, ball_touch_numbers %>回</td>
  </tr>
  <tr>
    <td>インターセプト：</td>
    <td><%= f.select :opponent_intercept, intercept_numbers %>回</td>
  </tr>
  <tr>
    <td>リトライ：</td>
    <td><%= f.select :opponent_retry, retry_numbers %>回</td>
  </tr>
</table>
<%= render "games/game_details/common_parts/jury_votes", f: f,
  juries_number: 3 %><%# 審査員判定 %>
<br />
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
