<%= f.hidden_field :id %>
<%
  retry_numbers   = option_numbers digit: 1, end_number: 9
  penalty_numbers = option_numbers digit: 1, end_number: 9
  vote_numbers    = option_numbers digit: 1, end_number: 5
%>
<table>
  <tr>
    <td><%= f.label :my_gaining_point, "#{@robot.name}が積み上げた高さ：" %></td>
    <td><%= f.text_field :my_gaining_point %>cm</td>
  </tr>
  <tr>
    <td><%= f.label :opponent_gaining_point, "対戦相手が積み上げた高さ：" %></td>
    <td><%= f.text_field :opponent_gaining_point %>cm</td>
  </tr>
</table>
<table>
  <tr>
    <td><%= f.label :my_retry, "#{@robot.name}のリトライ回数：" %></td>
    <td><%= f.select :my_retry, retry_numbers %></td>
    </td>
  </tr>
  <tr>
    <td><%= f.label :opponent_retry, "対戦相手のリトライ回数：" %></td>
    <td><%= f.select :opponent_retry, retry_numbers %></td>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td><%= f.label :my_penalty, "#{@robot.name}の反則回数：" %></td>
    <td><%= f.select :my_penalty, penalty_numbers %></td>
    </td>
  </tr>
  <tr>
    <td><%= f.label :opponent_penalty, "対戦相手の反則回数：" %></td>
    <td><%= f.select :opponent_penalty, penalty_numbers %></td>
    </td>
  </tr>
</table>
<%= render "games/game_details/common_parts/progress", f: f,
  klass: GameDetail29th %>
  <%= render "games/game_details/common_parts/jury_votes", f: f,
    juries_number: 5 %><%# 審査員判定 %>
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
