<%= f.hidden_field :id %>
<table>
  <tr>
    <td><%= f.label :my_point, "#{@robot.name}の点数：" %></td>
    <td><%= f.text_field :my_point %>点</td>
  </tr>
  <tr>
    <td><%= f.label :opponent_point, "対戦相手の点数：" %></td>
    <td><%= f.text_field :opponent_point %>点</td>
  </tr>
</table>
<%= f.label :extra_time, "延長(30秒)：" %>
<%= f.check_box :extra_time, { checked: f.object.extra_time }, true, false %>
<br />
<%= f.label :memo, "メモ：" %>
<%= f.text_field :memo %><br />
<br />
<%= f.hidden_field :_destroy %>
<%= f.remove_nested_fields_link '削除', class: 'btn btn-danger',
  role: 'button' %><br />
