<%
  vote_numbers = option_numbers digit: 1, end_number: juries_number
%>
<%= f.label :jury_votes, "審査員判定：" %>
<%= f.check_box :jury_votes, {:checked => f.object.jury_votes}, true, false %>
<% if f.object.jury_votes.to_bool %>
  <div class="jury_votes___nested_field_for_replace_with_index__">
<% else %>
  <div class="jury_votes___nested_field_for_replace_with_index__ hidden">
<% end %>
    <div class="indent">
      <%= label_tag "", "#{@robot.name}：", class: 'robot_name' %>
      <div class="indent">
        <%= f.select :my_jury_votes, vote_numbers %>票
      </div>
      <%#----------------------------------------------------------------------%>
      <%= label_tag "", "対戦相手：", class: 'robot_name' %>
      <div class="indent">
        <%= f.select :opponent_jury_votes, vote_numbers %>票
      </div>
    </div>
  </div>
