<%
  progress_options = Array.new([["--", GameDetail::UNKNOWN]])
  klass.progresses.each do |key, value|
    progress_options.concat(Array.new([[
      klass.progresses_i18n[key], value
    ]]))
  end
%>
<%= f.label :progress, "到達課題：" %>
<%= f.check_box :progress, {:checked => f.object.progress}, true, false %>
<br />
<% if f.object.progress %>
<div class="progress___nested_field_for_replace_with_index__">
<% else %>
<div class="progress___nested_field_for_replace_with_index__ hidden">
<% end %>
  <table>
    <tr><td><%= ("&nbsp;"*4).html_safe %><%= "#{@robot.name}：" %></td></tr>
    <tr><td>
      <%= ("&nbsp;"*8).html_safe %>
      <%= f.select :my_progress, progress_options %>
    </td></tr>
    <%#######################################################################%>
    <tr><td><%= ("&nbsp;"*4).html_safe %>対戦相手：</td></tr>
    <tr><td>
      <%= ("&nbsp;"*8).html_safe %>
      <%= f.select :opponent_progress, progress_options %>
    </td></tr>
  </table>
</div>
