<%
  progress_options = Array.new([["--", GameDetail::UNKNOWN]])
  klass.progresses.each do |key, value|
    progress_options.concat(Array.new([[
      klass.progresses_i18n[key], value
    ]]))
  end
%>
<%= f.label :progress, "完了課題：" %>
<%= f.check_box :progress, {:checked => f.object.progress}, true, false %>
<% if f.object.progress.to_bool %>
  <div class="progress___nested_field_for_replace_with_index__">
<% else %>
  <div class="progress___nested_field_for_replace_with_index__ hidden">
<% end %>
    <div class="indent">
      <%= label_tag "", "#{@robot.name}：", class: 'robot_name' %>
      <div class="indent">
        <%= f.select :my_progress, progress_options %>
      </div>
      <%#--------------------------------------------------------------------%>
      <%= label_tag "", "対戦相手：", class: 'robot_name' %>
      <div class="indent">
        <%= f.select :opponent_progress, progress_options %>
      </div>
    </div>
  </div>
