<%= f.label :special_win, special_win_name + "：" %>
<%= f.check_box :special_win, { checked: f.object.special_win }, true, false %>
<% if f.object.special_win.to_bool %>
  <div class="special_win___nested_field_for_replace_with_index__">
<% else %>
  <div class="special_win___nested_field_for_replace_with_index__ hidden">
<% end %>
    <div class="indent">
      <%= label_tag "", "タイム：" %>
      <%= f.select :time_minute, time_numbers %>分
      <%= f.select :time_second, time_numbers %>秒
    </div>
  </div>
