<% provide(:title, "ロボット情報の編集") %>

<%= render "shared/title", title: (yield :title) %>

<div class="row">
  <div class="col-lg-12">
    <%= form_for @robot do |f| %>

      <%= render 'shared/error_messages', obj: @robot %>

      <%= f.label :name, "ロボット名" %>
      <%= f.text_field :name, class: 'form-control' %><br>

      <%= f.label :kana, "ヨミガナ" %>
      <%= f.text_field :kana, class: 'form-control' %><br>

      <%= f.label :name_alias, "ロボット名別名" %>
      <%= f.text_field :name_alias, class: 'form-control' %><br>

      <%= f.label :kana, "別名ヨミガナ" %>
      <%= f.text_field :kana_alias, class: 'form-control' %><br>

      <%= f.label :team, "チーム" %><br>
      <%= select :robot, :team, Robot.team_choices, class: 'form-control' %><br><br>

      <%= f.submit "更新", class: "btn btn-primary",
        data: { disable_with: '処理中・・・' } %><br><br>
    <% end %>

  </div>
</div>
