<% provide(:title, @robot.name) %>

<%= render "shared/title", title: (yield :title) %>

<div class="row">
  <div class="col-lg-12">
    <div align="right">
      <%= link_to fa_icon("pencil-square ", text:"編集"), edit_robot_path %>
    </div>
    <table class="table table-striped table-condensed">
      <tbody>
        <tr>
          <td>読み方：</td>
          <td><%= @robot.kana %></td>
        </tr>
        <tr>
          <td>チーム：</td>
          <td><%= @robot.team %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>全国大会進出情報</h4>
    <% if !@robot.advancement_history.blank? then %>
    <div align="right">
      <%=
        link_to fa_icon("pencil-square", text:"編集"),
        edit_robot_advancement_history_path(@robot.code)
      %>
      または
      <%=
        link_to fa_icon("trash", text:"削除"),
        robot_advancement_history_path(@robot.code), :method => :delete,
        data: {confirm: "削除しますか？"}
      %>
    </div>
    <% else %>
    <div align="right"><%=
      link_to fa_icon("pencil-square-o", text:"新規作成"),
      new_robot_advancement_history_path(@robot.code)
    %></div>
    <% end %>
    <table class="table table-striped table-condensed">
      <tbody>
        <% if !@robot.advancement_history.blank? then %>
        <tr>
          <td>進出ケース：</td>
          <td><%=
            Advancement.find_by(
              case: @robot.advancement_history.advancement_case
            ).case_name
          %></td>
        </tr>
        <% if @robot.advancement_history.decline then %>
        <tr>
          <td></td>
          <td>全国進出を辞退</td>
        </tr>
        <% end %>
        <tr>
          <td>メモ：</td>
          <td><%= @robot.advancement_history.memo %></td>
        </tr>
        <% else %>
        <tr>
          <td colspan=2>未登録／残念ながら全国大会進出叶わず</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "prize_histories/prize_histories", prize_histories: @prize_histories %>

<div class="row">
  <div class="col-lg-12">
    <h4>対戦成績</h4>
    <div align="right">
      <%= link_to fa_icon("pencil-square-o", text:"新規登録"),
        new_robot_game_path(robot_code: @robot.code) %>
    </div>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>地区／全国</th>
          <th>試合</th>
          <th>対戦キャンパス</th>
          <th>A/B</th>
          <th>対戦チーム</th>
          <th>勝敗</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <%
            left_robot = Robot.joins(:campus).find_by(code: game.left_robot_code) || Game::Constant::NO_OPPONENT
            right_robot = Robot.joins(:campus).find_by(code: game.right_robot_code) || Game::Constant::NO_OPPONENT
            opponent = @robot.code != left_robot.code ? left_robot : right_robot
          %>
          <tr>
            <td><%= game.region.name %></td>
            <td>
              <%=
                link_to game_name(
                  nth: @robot.contest_nth,
                  region: game.region_code,
                  round: game.round,
                  game: game.game),
                  game_path(code: game.code)
              %>
              <%#=
                game_name(
                  nth: @robot.contest_nth,
                  region: game.region_code,
                  round: game.round,
                  game: game.game
                )
              %>
            </td>
            <% if opponent.campus.code != Campus::Constant::NO_CAMPUS.code then %>
            <td>
              <%=
                link_to opponent.campus.abbreviation,
                  campus_path(opponent.campus.code)
              %>
            </td>
            <td><%= opponent.team %></td>
            <td><%= link_to opponent.name.truncate(SHORTENING_LEN),
              robot_path(opponent.code) %></td>
            <% else %>
            <td></td>
            <td></td>
            <td><%= opponent.name.truncate(SHORTENING_LEN) %></td>
            <% end %>
            <td>
              <% # 出来ればモデルと共用のヘルパーメソッド化すべき
                case game.winner_robot_code
                when Game::Constant::NO_WINNER.code then
                  case opponent.code
                  when Game::Constant::NO_OPPONENT.code then
                    concat "単独競技につき勝ち負けなし"
                  else
                    concat "両者失格"
                  end
                else
                  case opponent.code
                  when Game::Constant::NO_OPPONENT.code then
                    concat "不戦勝"
                  else
                    if @robot.code == game.winner_robot_code then
                      concat "勝ち"
                    else
                      concat "負け"
                    end
                  end
                end
              %>
            </td>
            <td align="right">
              <%= link_to fa_icon("pencil-square", text:"編集"),
                edit_robot_game_path(robot_code: @robot.code, code: game.code) %>
              <%= link_to fa_icon("trash", text:"削除"),
                robot_game_path(robot_code: @robot.code, code: game.code),
                  :method => :delete, data: {confirm: "削除しますか？"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>現存情報</h4>
    <% if !@robot.robot_condition.blank? then %>
    <div align="right">
      <%= link_to fa_icon("pencil-square", text:"編集"), edit_robot_robot_conditions_path(@robot.code) %>
      または
      <%= link_to fa_icon("trash", text:"逸失に変更"),
        robot_robot_conditions_path(@robot.code), :method => :delete,
        data: {confirm: "逸失に変更しますか？"} %>
    </div>
    <% else %>
    <div align="right"><%= link_to fa_icon("pencil-square-o", text:"現存に変更"), new_robot_robot_conditions_path(@robot.code) %></div>
    <% end %>
    <table class="table table-striped table-condensed">
      <tbody>
        <tr>
          <td>現況：</td>
          <% if !@robot.robot_condition.blank? then %>
          <td>現存</td>
          <% else %>
          <td>逸失</td>
          <% end %>
        </tr>
        <% if !@robot.robot_condition.blank? then %>
        <tr>
          <td></td>
          <% if @robot.robot_condition.fully_operational then %>
          <td>動態保存</td>
          <% else %>
          <td>静態保存</td>
          <% end %>
        </tr>
        <tr>
          <td></td>
          <% if !@robot.robot_condition.restoration then %>
          <td>オリジナル</td>
          <% else %>
          <td>復刻</td>
          <% end %>
        </tr>
        <tr>
          <td></td>
          <% if !@robot.robot_condition.memo.blank? then %>
          <td><%= @robot.robot_condition.memo %></td>
          <% else %>
          <td></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p><%= link_to fa_icon("chevron-left", text: "所属キャンパスへ戻る"), campus_path(@robot.campus_code) %></p>
  </div>
</div>
