<div class="row">
  <div class="col-lg-12">
    <%= form_for robot.robot_condition || RobotCondition.new(robot_code: robot.code),
      :url=>{:action => action} do |f| %>

      <%= render 'shared/error_messages', obj: robot %>

      <%= f.label "現存" %><br>

      <%= f.label "保存状態" %>：
      <label><%= f.radio_button :fully_operational, true %>動態保存</label>
      &nbsp;&nbsp;
      <label><%= f.radio_button :fully_operational, false %>静態保存</label>
      <br>

      <%= f.label "復刻" %>：
      <label><%= f.radio_button :restoration, false %>オリジナル</label>
      &nbsp;&nbsp;
      <label><%= f.radio_button :restoration, true %>復刻</label>
      <br>

      <%= f.label "特記事項" %><br>
      <%= f.text_field :memo, class: 'form-control' %><br>

      <%= f.submit button_label, class: "btn btn-primary",
        data: { disable_with: '処理中・・・' } %><br><br>
    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p><%= link_to fa_icon("chevron-left", text: "#{robot.name}情報へ戻る"),
      robot_path(params[:robot_code]) %></p>
  </div>
</div>
