<% provide(:title, "ロボット情報（現況）の編集") %>

<%= render "shared/title", title: (yield :title) %>

<%= @robot.name %><br>

<div class="row">
  <div class="col-lg-12">
    <%= form_for @robot.robot_condition do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label "現存" %><br>

      <%= f.label "保存状態" %>：
      <label><%= f.radio_button :fully_operational, true %>動態保存</label>
      &nbsp&nbsp
      <label><%= f.radio_button :fully_operational, false %>静態保存</label>
      <br>

      <%= f.label "復刻" %>：
      <label><%= f.radio_button :restoration, false %>オリジナル</label>
      &nbsp&nbsp
      <label><%= f.radio_button :restoration, true %>復刻</label>
      <br>

      <%= f.label "特記事項" %><br>
      <%= f.text_field :memo, class: 'form-control' %><br>

      <%= f.submit "更新", class: "btn btn-primary" %><br><br>
    <% end %>

  </div>
</div>
