<%#
  以下の my_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "旗と反則など：" %>
<div class="indent">
  <%= "#{@game.left_robot.name}：" %>
  <div class="indent">
    <%= label_tag "旗：" %>
    <%= "#{d.my_flag}".gsub(/_/, '-') %>本
    <%#======================================================================%>
    <br />
    <%= label_tag "反則：" %>
    <%= "#{d.my_foul}".gsub(/_/, '-') %>回
    <br />
    <%= label_tag "合体：" %>
    <% concat d.my_union.to_bool ? "有り" : "無し" %>
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "#{@game.right_robot.name}：" %>
  <div class="indent">
    <%= label_tag "旗：" %>
    <%= "#{d.opponent_flag}".gsub(/_/, '-') %>本
    <%#======================================================================%>
    <br />
    <%= label_tag "反則：" %>
    <%= "#{d.opponent_foul}".gsub(/_/, '-') %>回
    <br />
    <%= label_tag "合体：" %>
    <% concat d.opponent_union.to_bool ? "有り" : "無し" %>
  </div>
</div>
<%###########################################################################%>
<br />
<%= label_tag "試合中断：" %><%= "#{d.interrupt}".gsub(/_/, '-') %>回
<%#==========================================================================%>
<br />
<%= render "game_details/show/common_parts/special_win", d: d,
  special_win_name: "大勝利" %>
<%#==========================================================================%>
<br />
<%= label_tag "延長(60秒)：" %>
<% concat d.extra_time.to_bool ? "有り" : "無し" %>
<%#==========================================================================%>
<br />
<%= render "game_details/show/common_parts/jury_votes", d: d %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= label_tag "メモ：" %><br />
<div class="indent">
  <%= "#{d.memo}" %>
</div>
