<%#
  以下の my_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "得点：" %>
<div class="indent">
  <%= "#{@game.left_robot.name}：" %>
  <div class="indent">
    得点：<%= "#{d.my_gaining_point}".gsub(/_/, '-') %>点
    <br />
    減点：<%= "#{d.my_deducting_point}".gsub(/_/, '-') %>点
    <br />
    合計：<%= "#{d.my_total_point}".gsub(/_/, '-') %>点
  </div>
  <%#========================================================================%>
  <%= "#{@game.right_robot.name}：" %>
  <div class="indent">
    得点：<%= "#{d.opponent_gaining_point}".gsub(/_/, '-') %>点
    <br />
    減点：<%= "#{d.opponent_deducting_point}".gsub(/_/, '-') %>点
    <br />
    合計：<%= "#{d.opponent_total_point}".gsub(/_/, '-') %>点
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/show/common_parts/special_win", d: d,
  special_win_name: "Vスポット" %>
<%#==========================================================================%>
<br />
<%= labe_tag "審査員判定（省電力比較）：" %>
<% concat d.lower_power_quantity.to_bool ? "有り" : "無し" %>
<%###########################################################################%>
<br />
<%= label_tag "メモ：" %><br />
<div class="indent">
  <%= "#{d.memo}" %>
</div>
