<%#
  以下の my_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "距離とリトライ：" %>
<div class="indent">
  <%= "#{@game.left_robot.name}：" %>
  <div class="indent">
    <%= label_tag "距離：" %>
    <%= "#{d.my_gaining_point}".gsub(/_/, '-') %>cm
    <br />
    <%= label_tag "反則：" %>
    <%= "#{d.my_deducting_point}".gsub(/_/, '-') %>回 x 50cm
    <br />
    <%= label_tag "合計：" %>
    <%= "#{d.my_total_point}".gsub(/_/, '-') %>cm
    <%#======================================================================%>
    <br />
    <%= label_tag "リトライ：" %>
    <%= "#{d.my_retry}".gsub(/_/, '-') %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "#{@game.right_robot.name}：" %>
  <div class="indent">
    <%= label_tag "距離：" %>
    <%= "#{d.opponent_gaining_point}".gsub(/_/, '-') %>cm
    <br />
    <%= label_tag "反則：" %>
    <%= "#{d.opponent_deducting_point}".gsub(/_/, '-') %>回 x 50cm
    <br />
    <%= label_tag "合計：" %>
    <%= "#{d.opponent_total_point}".gsub(/_/, '-') %>cm
    <%#======================================================================%>
    <br />
    <%= label_tag "リトライ：" %>
    <%= "#{d.opponent_retry}".gsub(/_/, '-') %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/show/common_parts/jury_votes", d: d %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= label_tag "メモ：" %><br />
<div class="indent">
  <%= "#{d.memo}" %>
</div>
