<%#
  以下の my_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "タイム：" %>
<div style="margin-left: 10px;">
  <%= label_tag "#{@game.left_robot.name}：" %>
  <div style="margin-left: 10px;">
    <%= "#{d.my_time_minute}分".gsub(/_/, '-') %>
    <%= "#{d.my_time_second}秒".gsub(/_/, '-') %>
  </div>
  <%#------------------------------------------------------------------------%>
  <%= label_tag "#{@game.right_robot.name}：" %>
  <div style="margin-left: 10px;">
    <%= "#{d.opponent_time_minute}分".gsub(/_/, '-') %>
    <%= "#{d.opponent_time_second}秒".gsub(/_/, '-') %>
  </div>
</div>
<%###########################################################################%>
<br />
<%= label_tag "メモ：" %><br />
<div style="margin-left: 10px;">
  <%= "#{d.memo}" %>
</div>
