<%#
  以下の my_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "得点：" %>
<div style="margin-left: 10px;">
  <%= label_tag "#{@game.left_robot.name}：" %>
  <div style="margin-left: 10px;">
    <%= "#{d.my_gaining_point}点".gsub(/_/, '-') %>
  </div>
  <%#------------------------------------------------------------------------%>
  <%= label_tag "#{@game.right_robot.name}：" %>
  <div style="margin-left: 10px;">
    <%= "#{d.opponent_gaining_point}点".gsub(/_/, '-') %>
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/show/common_parts/special_win", d: d,
  special_win_name: "ハットトリック" %>
<%#==========================================================================%>
<br />
<%= label_tag "延長(60秒)：" %>
<% concat d.extra_time.to_bool ? "有り" : "無し" %>
<%###########################################################################%>
<br />
<%= label_tag "メモ：" %><br />
<div style="margin-left: 10px;">
  <%= "#{d.memo}" %>
</div>
