<%#
  以下の my_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "", "タイムとリトライなど：" %>
<div class="indent">
  <%= "#{@game.left_robot.name}：" %>
  <div class="indent">
    <%= label_tag "", "タイム：" %>
    <%= "#{d.my_time_minute}".gsub(/_/, '-') %>分
    <%= "#{d.my_time_second}".gsub(/_/, '-') %>秒
    <%#======================================================================%>
    <br />
    <%= label_tag "", "リトライ：" %>
    <%= "#{d.my_retry}".gsub(/_/, '-') %>回
    <br />
    <%= label_tag "", "反則：" %>
    <%= "#{d.my_foul}".gsub(/_/, '-') %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "#{@game.right_robot.name}：" %>
  <div class="indent">
    <%= label_tag "", "タイム：" %>
    <%= "#{d.opponent_time_minute}".gsub(/_/, '-') %>分
    <%= "#{d.opponent_time_second}".gsub(/_/, '-') %>秒
    <%#======================================================================%>
    <br />
    <%= label_tag "", "リトライ：" %>
    <%= "#{d.opponent_retry}".gsub(/_/, '-') %>回
    <br />
    <%= label_tag "", "反則：" %>
    <%= "#{d.opponent_foul}".gsub(/_/, '-') %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/show/common_parts/progress", d: d,
klass: GameDetail18th %><%# 完了課題 %>
<%#==========================================================================%>
<%= label_tag "", "到達距離判定：" %>
<% concat d.distance.to_bool ? "有り" : "無し" %>
<% if d.object.distance.to_bool %>
  <div class="indent">
    <%= "#{@robot.name}：" %>
    <div class="indent">
      到達距離：<%= f.text_field :my_distance, { maxlength: 6 } %>m
    </div>
      <%#--------------------------------------------------------------------%>
    対戦相手：
    <div class="indent">
      到達距離：<%= f.text_field :opponent_distance, { maxlength: 6 } %>m
    </div>
  </div>
</div>
<%#==========================================================================%>
<br />
<%= render "game_details/show/common_parts/jury_votes", d: d %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= label_tag "", "メモ：" %><br />
<div class="indent">
  <%= "#{d.memo}" %>
</div>
