<%#
  以下の opponent_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "高さとリトライなど：" %>
<div class="indent">
  <%= "#{@game.left_robot.name}：" %>
  <div class="indent">
    <%= label_tag "本陣の風船：" %>
    <%= "#{d.my_base_baloon}".gsub(/_/, '-') %>個
    <br />
    <%= label_tag "ロボットの風船：" %>
    <%= "#{d.my_robot_baloon}".gsub(/_/, '-') %>個
    <%#======================================================================%>
    <br />
    <%= label_tag "リペア：" %>
    <%= "#{d.my_retry}".gsub(/_/, '-') %>回
    <br />
    <%= label_tag "反則：" %>
    <%= "#{d.my_foul}".gsub(/_/, '-') %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "#{@game.right_robot.name}：" %>
  <div class="indent">
    <%= label_tag "本陣の風船：" %>
    <%= "#{d.opponent_base_baloon}".gsub(/_/, '-') %>個
    <br />
    <%= label_tag "ロボットの風船：" %>
    <%= "#{d.opponent_robot_baloon}".gsub(/_/, '-') %>個
    <%#======================================================================%>
    <br />
    <%= label_tag "リペア：" %>
    <%= "#{d.opponent_retry}".gsub(/_/, '-') %>回
    <br />
    <%= label_tag "反則：" %>
    <%= "#{d.opponent_foul}".gsub(/_/, '-') %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= label_tag "試合時間：" %>
<%= "#{d.time_minute}".gsub(/_/, '-') %>分
<%= "#{d.time_second}".gsub(/_/, '-') %>秒
<%#==========================================================================%>
<br />
<%= render "game_details/show/common_parts/jury_votes", d: d %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= label_tag "メモ：" %><br />
<div class="indent">
  <%= "#{d.memo}" %>
</div>
