<%#
  以下の my_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "", "得点とリトライなど：" %>
<div class="indent">
  <%= label_tag "", "#{@game.left_robot.name}：", class: 'robot_name' %>
  <div class="indent">
    <%= label_tag "", "完了課題：" %>
    <div class="indent">
      <%
        checked = d.my_challenges.presence || []
        GameDetail22nd.challenges.each do |key, value|
          concat check_box_tag,
            {
              multiple: true,
              checked: checked.include?(value.to_s),
              disabled: true,
            }, value
          concat GameDetail22nd.challenges_i18n[key]
          concat "<br />".html_safe
        end
      %>
    </div>
    <%= label_tag "", "合計：" %>
    <%= "#{d.my_total_point}".gsub(/_/, '-') %>点
    <%#======================================================================%>
    <br />
    <%= label_tag "", "リトライ：" %>
    <%= "#{d.my_retry}".gsub(/_/, '-') %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= label_tag "", "#{@game.right_robot.name}：", class: 'robot_name' %>
  <div class="indent">
    <%= label_tag "", "完了課題：" %>
    <div class="indent">
      <%
        checked = d.opponent_challenges.presence || []
        GameDetail22nd.challenges.each do |key, value|
          concat check_box_tag,
            {
              multiple: true,
              checked: checked.include?(value.to_s),
              disabled: true,
            }, value
          concat GameDetail22nd.challenges_i18n[key]
          concat "<br />".html_safe
        end
      %>
    </div>
    <%= label_tag "", "合計：" %>
    <%= "#{d.opponent_total_point}".gsub(/_/, '-') %>点
    <%#======================================================================%>
    <br />
    <%= label_tag "", "リトライ：" %>
    <%= "#{d.opponent_retry}".gsub(/_/, '-') %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/show/common_parts/jury_votes", d: d %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= label_tag "", "メモ：" %><br />
<div class="indent">
  <%= "#{d.memo}" %>
</div>
