<%#
  以下の my_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "得点：" %>
<div class="indent">
  <%= "#{@game.left_robot.name}：" %>
  <div class="indent">
    得点：<%= "#{d.my_gaining_point}".gsub(/_/, '-') %>点
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "#{@game.right_robot.name}：" %>
  <div class="indent">
    得点：<%= "#{d.opponent_gaining_point}".gsub(/_/, '-') %>点
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/show/common_parts/special_win", d: d,
  special_win_name: "Vホール" %>
<%#==========================================================================%>
<br />
<%= label_tag "延長(30秒)：" %>
<% concat d.extra_time.to_bool ? "有り" : "無し" %>
<%###########################################################################%>
<br />
<%= label_tag "メモ：" %><br />
<div class="indent">
  <%= "#{d.memo}" %>
</div>
