<%#
  以下の my_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "タイムとリトライなど：" %>
<div class="indent">
  <%= "#{@game.left_robot.name}：" %>
  <div class="indent">
    得点：<%= "#{d.my_gaining_point}".gsub(/_/, '-') %>点
    <br />
    パーフェクト：<%= d.my_special_win.to_bool ? "達成" : "無し" %>
    <% if d.my_special_win.to_bool %>
      <div class="indent">
        タイム：
        <%= "#{d.my_time_minute}".gsub(/_/, '-') %>分
        <%= "#{d.my_time_second}".gsub(/_/, '-') %>秒
      </div>
    <% end %>
    <%#======================================================================%>
    <br />
    リトライ：<%= "#{d.my_retry}".gsub(/_/, '-') %>回
    <br />
    反則：<%= "#{d.my_foul}".gsub(/_/, '-') %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= "#{@game.right_robot.name}：" %>
  <div class="indent">
    得点：<%= "#{d.opponent_gaining_point}".gsub(/_/, '-') %>点
    <br />
    パーフェクト：<%= d.opponent_special_win.to_bool ? "達成" : "無し" %>
    <% if d.opponent_special_win.to_bool %>
      <div class="indent">
        タイム：
        <%= "#{d.opponent_time_minute}".gsub(/_/, '-') %>分
        <%= "#{d.opponent_time_second}".gsub(/_/, '-') %>秒
      </div>
    <% end %>
    <%#======================================================================%>
    <br />
    リトライ：<%= "#{d.opponent_retry}".gsub(/_/, '-') %>回
    <br />
    反則：<%= "#{d.opponent_foul}".gsub(/_/, '-') %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/show/common_parts/jury_votes", d: d %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= label_tag "メモ：" %><br />
<div class="indent">
  <%= "#{d.memo}" %>
</div>
