<%#
  以下の my_time_minute などの properties に JSON 形式で格納される情報は、
  このビューでは基本的に変数として存在しているものとし、
  またオブジェクトとして nil だったとしても問題がないものとし、
  present? メソッドなどで確認することはしないものとする。（暫定）
%>
<%###########################################################################%>
<%= label_tag "タイムとリトライなど：" %>
<div style="margin-left: 10px;">
  <%= label_tag "#{@game.left_robot.name}：" %>
  <div style="margin-left: 10px;">
    タイム：
    <%= "#{d.my_time_minute}分".gsub(/_/, '-') %>
    <%= "#{d.my_time_second}秒".gsub(/_/, '-') %>
    <br />
    リトライ：<%= "#{d.my_retry}".gsub(/_/, '_') %>回
    <br />
    ファウル：<%= "#{d.my_foul}".gsub(/_/, '_') %>回
  </div>
  <%#------------------------------------------------------------------------%>
  <%= label_tag "#{@game.right_robot.name}：" %>
  <div style="margin-left: 10px;">
    タイム：
    <%= "#{d.opponent_time_minute}分".gsub(/_/, '-') %>
    <%= "#{d.opponent_time_second}秒".gsub(/_/, '-') %>
    <br />
    リトライ：<%= "#{d.opponent_retry}".gsub(/_/, '_') %>回
    <br />
    ファウル：<%= "#{d.opponent_foul}".gsub(/_/, '_') %>回
  </div>
</div>
<%###########################################################################%>
<br />
<%= render "game_details/show/common_parts/progress", d: d,
klass: GameDetail21th %><%# 完了課題 %>
<%#==========================================================================%>
<br />
<%= render "game_details/show/common_parts/jury_votes", d: d %><%# 審査員判定 %>
<%###########################################################################%>
<br />
<%= label_tag "メモ：" %><br />
<div style="margin-left: 10px;">
  <%= "#{d.memo}" %>
</div>
