<p id="notice"><%= notice %></p>

<p>
  <strong>Robot code:</strong>
  <%= @advancement_history.robot_code %>
</p>

<p>
  <strong>Case code:</strong>
  <%= @advancement_history.advancement_code %>
</p>

<%= link_to 'Edit', edit_advancement_history_path(@advancement_history) %> |
<%= link_to 'Back', advancement_histories_path %>
