<div class="row">
  <div class="col-lg-12">
  <%= form_for @game, :url=>{:action => action} do |f| %>
    <%= render 'shared/error_messages', obj: @game %>
    <%= f.label :contest_nth, "大会回：第#{@game.contest_nth}回" %><br />
    <%= f.hidden_field :contest_nth %>

    <%= f.label :region_code, "地区" %>:
    <%= f.collection_select :region_code, @regions, :code, :name %><br />

    <%= f.label :round, "回戦" %>:
    <% round_array = [["予選", 0], ["1回戦", 1], ["2回戦", 2], ["3回戦", 3],
      ["4回戦", 4], ["準決勝", 5], ["決勝", 6]] %>
    <%= f.select :round, round_array %><br />

    <%= f.label :game, "試合" %>:
    <% game_array = Array.new(16){ |i| ["第"+(i+1).to_s+"試合", i+1] } %>
    <%= f.select :game, game_array %><br />

    <%= f.label :opponent_robot_code, "対戦相手" %>:
    <% robots_array = Robot.where(contest_nth: @game.contest_nth).
      includes(:campus).order("robots.code").map{ |i| [
        i.campus.abbreviation.to_s.ljust(5, "　")+i.name, i.code] } %>
    <%= f.select :opponent_robot_code, robots_array %><br />

    <%= f.label :victory, "勝敗" %>:
    <label><%= f.radio_button :victory, true, {:checked=>true} %>勝ち</label>
    &nbsp&nbsp
    <label><%= f.radio_button :victory, false %>負け</label><br />
    <br />

    <% case @robot.contest_nth %>
    <%# 第29回大会のみ実装 %>
    <% when 29 then %>
    <div class="enclosure">
      <%= f.label @gd_sym, "試合詳細" %>
      <%= f.nested_fields_for @gd_sym, wrapper_tag: :div do |detail| %>
        <div class="enclosure">
          <div class="replay"></div>
          <%= render "games/game_details/game_detail" +
            @game.contest_nth.ordinalize, f: detail %>
        </div>
      <% end %>
      <%= f.add_nested_fields_link @gd_sym, '追加', class: 'btn btn-primary',
        role: 'button' %>
    </div><br />
    <br />
    <% end %>

    <%= f.submit button_label, class: "btn btn-primary",
      data: { disable_with: '処理中・・・' } %><br /><br />
  <% end %>
  </div>
</div>
