<div class="row">
  <div class="col-lg-12">
  <%= form_for @game, :url=>{:action => action} do |f| %>
    <%= render 'shared/error_messages', obj: @game %>
    <%= f.label :contest_nth, "大会回：第#{@game.contest_nth}回" %><br />
    <%= f.hidden_field :contest_nth %>

    <%= f.label :region_code, "地区" %>:
    <%= f.collection_select :region_code, @regions, :code, :name %><br />

    <%= f.label :round, "回戦" %>:
    <%= f.collection_select :round, @round_names, :round, :name %><br />

    <%= f.label :game, "試合" %>:
    <% game_array = Array.new(16){ |i| ["第"+(i+1).to_s+"試合", i+1] } %>
    <%= f.select :game, game_array %><br />

    <%= f.label :opponent_robot_code, "対戦相手" %>:
    <% robots_array = Robot.where(contest_nth: @game.contest_nth).
        includes(:campus).order("robots.code").map{ |i| [
          i.campus.abbreviation.to_s.ljust(5, "　")+i.name, i.code ] }
        # 下記はGameモデルで自動的に追加されるべき
        robots_array.push([
          "　"*5 + Game::Constant::NO_OPPONENT.name,
          Game::Constant::NO_OPPONENT.code
        ])
    %>
    <%= f.select :opponent_robot_code, robots_array %><br />

    <%= f.label :victory, "勝敗" %>:
    <%= f.radio_button :victory, Game::Constant::WIN, {:checked=>true} %>勝ち
    &nbsp;&nbsp;
    <%= f.radio_button :victory, Game::Constant::LOSE %>負け
    &nbsp;&nbsp;
    <%= f.radio_button :victory, Game::Constant::BOTH_DSQ %>両者失格
    <br />
    <%= f.label :reasons_for_victory, "勝敗事由"%>：
    <%
      checked = @game.reasons_for_victory.presence || []
      Game.reasons.each do |key, value|
        concat f.check_box :reasons_for_victory,
          { multiple: true, checked: checked.include?(value.to_s) },
          value # , nil
        concat Game.reasons_i18n[key]
    %>
    &nbsp;&nbsp;
    <%
      end
    %>
    <br /><br />

    <% case @robot.contest_nth %>
    <%# 第29-30回大会のみ実装 %>
    <% when 29, 30 then %>
    <div class="enclosure">
      <%= f.label @gd_sym, "試合詳細" %><br />
      詳細が分からないときは「削除」ボタンを押下して省略することができます。<br />
      省略されているときは「追加」ボタンを押下して表示することができます。<br />
      <%= f.nested_fields_for @gd_sym, wrapper_tag: :div do |detail| %>
        <div class="enclosure">
          <div class="replay"></div>
          <%= render "games/game_details/game_detail" +
            @game.contest_nth.ordinalize, f: detail %>
        </div>
      <% end %>
      <%= f.add_nested_fields_link @gd_sym, '追加', class: 'btn btn-primary',
        role: 'button' %>
    </div><br />
    <br />
    <% end %>

    <%= f.submit button_label, class: "btn btn-primary",
      data: { disable_with: '処理中・・・' } %><br /><br />
  <% end %>
  </div>
</div>
