<div class="row">
  <div class="col-lg-12">
  <%= form_for game, :url=>{:action => action} do |f| %>
    <%= render 'shared/error_messages', obj: game %>
    <%= f.label :contest_nth, "大会回：第#{game.contest_nth}回" %><br />
    <%= f.hidden_field :contest_nth %>

    <%= f.label :region_code, "地区" %>:
    <%= f.collection_select :region_code, Region.all, :code, :name %><br />

    <%= f.label :round, "回戦" %>:
    <% round_array = [["1回戦", 1], ["2回戦", 2], ["3回戦", 3],
      ["4回戦", 4], ["準決勝", 5], ["決勝", 6]] %>
    <%= f.select :round, round_array %><br />

    <%= f.label :game, "試合" %>:
    <% game_array = Array.new(16){ |i| ["第"+(i+1).to_s+"試合", i+1] } %>
    <%= f.select :game, game_array %><br />

    <%= f.label :opponent_robot_code, "対戦相手" %>:
    <% robots_array = Robot.where(contest_nth: game.contest_nth).
      includes(:campus).map{ |i| [
        i.campus.abbreviation.to_s.ljust(5, "　")+i.name, i.code] } %>
    <%= f.select :opponent_robot_code, robots_array %><br />

    <%= f.label :victory, "勝敗" %>:
    <label><%= f.radio_button :victory, true, {:checked=>true} %>勝ち</label>
    &nbsp&nbsp
    <label><%= f.radio_button :victory, false %>負け</label><br />

    <%#= f.label :game_detail, "詳細" %><br />
    <%#= f.fields_for :game_detail_property_form do |df| %>
      <%#= df.label :property_key, "キー" %>
      <%#= df.text_field :porperty_key %> ：
      <%#= df.label :property_value, "値" %>
      <%#= df.text_field :property_value %><br />
    <%# end %>

    <br />
    <%= f.submit button_label, class: "btn btn-primary",
      data: { disable_with: '処理中・・・' } %><br /><br />
  <% end %>
  </div>
</div>
