<%= form_for(advancement) do |f| %>
  <% if advancement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advancement.errors.count, "error") %> prohibited this advancement from being saved:</h2>

      <ul>
      <% advancement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :robot_code %>
    <%= f.number_field :robot_code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
