<% provide(:title, "第#{params[:contest_nth]}回#{@tournament}の成績と受賞情報") %>

<%= render "shared/title", title: (yield :title) %>

<div class="row">
  <div class="col-lg-12">
    <div class="pull-left">
      <p><%= link_to_prior_prize_history params[:contest_nth],
        params[:region_code] %></p>
    </div>
    <div class="pull-right">
      <p><%= link_to_posterior_prize_history params[:contest_nth],
        params[:region_code] %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped table-condensed">
      <tbody>
        <tr><th colspan="4"><h4>成績</h4></th></tr>
        <% @results.each do |result| %>
        <tr>
          <td><%= result.prize.name          %></td>
          <td>
            <%= link_to result.campus.abbreviation,
              campus_path(result.campus.code) %>
          </td>
          <td><%= result.robot.team          %></td>
          <td>
            <%= link_to result.robot.name.truncate(SHORTENING_LEN),
              robot_path(result.robot.code) %>
          </td>
        </tr>
        <% end %>
        <tr><th colspan="4"><h4>受賞</h4></th></tr>
        <% @prizes.each do |prize| %>
        <tr>
          <td><%= prize.prize.name          %></td>
          <td>
            <%= link_to prize.campus.abbreviation,
              campus_path(prize.campus.code) %>
          </td>
          <td><%= prize.robot.team          %></td>
          <td>
            <%= link_to prize.robot.name.truncate(SHORTENING_LEN),
              robot_path(prize.robot.code) %>
          </td>
        </tr>
        <% end %>
        <% if params[:contest_nth].to_i >= 4 %>
          <% if @region.code == 0 %>
            <tr><th colspan="4"><h4>全国大会出場</h4></th></tr>
          <% else %>
            <tr><th colspan="4"><h4>全国大会進出</h4></th></tr>
          <% end %>
          <% @advancement_histories.each do |history| %>
            <tr>
              <td><%= history.advancement.case_name %></td>
              <td><%= link_to history.robot.campus.abbreviation,
                campus_path(history.campus.code) %></td>
              <td><%= history.robot.team %></td>
              <td>
                <%= link_to history.robot.name.truncate(SHORTENING_LEN),
                  robot_path(history.robot.code) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>対戦成績</h4>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>試合</th>
          <th colspan="3">対戦チーム</th>
          <th colspan="3">対戦チーム</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <%
            left_robot =
              Robot.joins(:campus).find_by(code: game.left_robot_code) ||
                Game::Constant::NO_OPPONENT
            left_robot_name =
              "#{left_robot.campus.abbreviation} " +
              "#{left_robot.team} " +
              "#{left_robot.name.truncate(SHORTENING_LEN)}"
            right_robot =
              Robot.joins(:campus).find_by(code: game.right_robot_code) ||
                Game::Constant::NO_OPPONENT
            right_robot_name =
              "#{right_robot.campus.abbreviation} " +
              "#{right_robot.team} " +
              "#{right_robot.name.truncate(SHORTENING_LEN)}"
          %>
          <tr>
            <td>
              <%= link_to game_name(hash: game), game_path(code: game.code) %>
            </td>
            <td>
              <%= link_to left_robot.campus.abbreviation,
                campus_path(code: left_robot.campus.code) %>
            </td>
            <td>
              <%= left_robot.team %>
            </td>
            <td>
              <%= link_to left_robot.name, robot_path(left_robot.code) %>
            </td>
            <td>
              <%= link_to right_robot.campus.abbreviation,
                campus_path(code: right_robot.campus.code) %>
            </td>
            <td>
              <%= right_robot.team %>
            </td>
            <td>
              <%= link_to right_robot.name, robot_path(right_robot.code) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="pull-left">
      <p><%= link_to_prior_prize_history params[:contest_nth],
        params[:region_code] %></p>
    </div>
    <div class="pull-right">
      <p><%= link_to_posterior_prize_history params[:contest_nth],
        params[:region_code] %></p>
    </div>
  </div>
</div>
