<% provide(:title, @campus.name) %>

<%= render "shared/title", title: (yield :title) %>

<div class="row">
  <div class="col-lg-12">
    <% unless @campus_histories.blank? %>
      <h4>変遷</h4>
      <ul>
        <% @campus_histories.each do |history| %>
        <li>第 <%= history.begin %> 回（<%= Contest.find_by(nth: history.begin).year %>）～第 <%= history.end %> 回（<%= Contest.find_by(nth: history.end).year %>） <%= history.name %>（<%= history.abbreviation %>）として<%= history.region.name %>地区に参加</li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<%= render "prize_histories/prize_histories", prize_histories: @prize_histories %>

<div class="row">
  <div class="col-lg-12">
    <%= will_paginate @robots, inner_window: 2, outer_window: 0  %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>回</th>
          <th>ロボット名</th>
          <th>カナ</th>
          <th>チーム</th>
          <th>全区大会進出</th>
          <th>状態</th>
        </tr>
      </thead>
      <tbody>
        <% @robots.each do |robot| %>
          <tr>
            <td align="right"><%= link_to robot.contest.nth, contest_path(robot.contest.nth), title: robot.contest.name %></td>
            <td><%= link_to robot.name, robot_path(robot.code) %></td>
            <td><%= robot.kana %></td>
            <td><%= robot.team %></td>
            <td>
              <% if not robot.advancement_history.blank? %>
                <%=
                  Advancement.find_by(
                    case: robot.advancement_history.advancement_case
                  ).case_name
                %>
              <% end %>
            </td>
            <td><% if not robot.robot_condition.blank? %>
              <%#= "現存" %>
              <%= robot.robot_condition.fully_operational ? "動態保存" : "静態保存" %>
              <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= will_paginate @robots, inner_window: 2, outer_window: 0  %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p><%= link_to fa_icon("chevron-left", text: "戻る"), campuses_path %></p>
  </div>
</div>
